<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context.xsd
	">

	<context:component-scan base-package="com.example.redis.dao" />
	<context:property-placeholder location="classpath:application.properties" />

	<!-- 连接池配置 -->
	<bean id="jpoolConfig" class="redis.clients.jedis.JedisPoolConfig"
		p:maxIdle="${redis.maxIdle}" p:maxWaitMillis="${redis.maxWait}"
		p:testOnBorrow="${redis.testOnBorrow}" />

	<!--链接配置 -->
	<bean id="jconnectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"
		p:hostName="127.0.0.1" p:port="6379" p:password="rgPt1hBdqPtYJ0acpnfdmWbSHt09kH5T"
		p:database="1" p:poolConfig-ref="jpoolConfig" />

	<!-- Redis模版类，用于操作redis -->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate"
		p:connectionFactory-ref="jconnectionFactory">
	</bean>

	<bean id="redisUtil" class="com.example.redis.dao.RedisUtils">
		<property name="redisTemplate" ref="redisTemplate" />
	</bean>

</beans>